@tailwind base;
@tailwind components;
@tailwind utilities;
.light {
    --bg: #ffffff;
    --text: #000000;
  }
  
  .dark {
    --bg: #1a202c;
    --text: #ffffff;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  